.section-cards {
    background-color: #f1f2f3;
    padding: 1em;
}
.section-cards__header {
    text-align: center;
    font-size: 1.4em;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;

    @media (min-width: 1200px) {
        & {
            gap: 2em;
        }
    }

}
